<!DOCTYPE html>

<html>
<head>
    <title>asd</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/jquery.js" type="text/javascript"></script>
</head>
    <body role="document">
        navbar

        <div class="container" role="main">
            <div class="page-header">
                <h1>asd</h1>
            </div>
            {{ yield }}
        </div>

    <script src="/js/bootstrap.js" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>
    </body>
</html>
